**Installing the libraries.**

In [ ]:
! pip install pandas
! pip install pyarrow

**Reading the data.**

In [ ]:
import pandas as pd

sales_data = (pd.read_csv(filepath_or_buffer="sales_data.csv",
                         parse_dates=["order_date"], dayfirst=True
                         )
              .convert_dtypes(dtype_backend="pyarrow")
             )

sales_data.head(2)

In [ ]:
sales_data.dtypes

**Creating your first pivot table.**

In [ ]:
pd.options.display.float_format = "£{:,.2f}".format

sales_data.pivot_table(
    values="sale_price", index="sales_region", columns="order_type",
    aggfunc="sum", margins=True, margins_name="Totals:"
)

**Including sub-sub columns within your pivot table**

In [ ]:
import pandas as pd

pd.options.display.float_format = "£{:,.2f}".format

sales_data.pivot_table(
    values="sale_price", index="customer_state",
    columns=["customer_type", "order_type"]
)

**Calculating multiple values in your pivot table.**

In [ ]:
import pandas as pd

pd.options.display.float_format = "£{:,.2f}".format

sales_data.pivot_table(
    index=["sales_region", "product_category"],
    values=["sale_price", "quantity"],
    aggfunc="sum", fill_value=0
)

**Performing more advanced aggregations.**

In [ ]:
pd.options.display.float_format = "£{:,.2f}".format

sales_data.pivot_table(
    values=["sale_price"], index=["product_category"],
    columns="customer_type", aggfunc=["max", "min"]
)

In [ ]:
pd.options.display.float_format = "£{:,.2f}".format

sales_data.pivot_table(
    values=["sale_price", "quantity"],
    index=["product_category"],
    columns="customer_type",
    aggfunc={"sale_price": "mean", "quantity": "max"}
)

In [ ]:
sales_data.pivot_table(
    values="employee_id",
    index="sales_region",
    aggfunc="count"
)

In [ ]:
def find_unique(s):
    return len(s.unique())

sales_data.pivot_table(
    values="employee_id",
    index=["sales_region"],
    aggfunc=find_unique
)

**Using `.groupby()` and `crosstab()` for Aggregation**

In [ ]:
sales_data.pivot_table(
    values="sale_price",
    index="product_category",
    aggfunc=["min", "mean", "max", "std"]
)

In [ ]:
(
    sales_data
    .groupby("product_category")
    .agg(
        low_price=("sale_price", "min"),
         average_price=("sale_price", "mean"),
         high_price=("sale_price", "max"),
         standard_deviation=("sale_price", "std")
    )
)

In [ ]:
pd.crosstab(
    index=sales_data.job_title,
    columns=sales_data.sales_region,
    margins=True,
    margins_name="Totals:"
)

In [ ]:
(
    pd.crosstab(
    index=sales_data.job_title,
    columns=sales_data.sales_region,
    margins=True,
    margins_name="Totals:",
    normalize=True,
    )*100
).map("{:.2f}%".format)